.landing-page-no {
  bottom: 12vh;
}

#landing {
  background-image: url("http://res.cloudinary.com/dfrrpfeus/image/upload/v1488406257/pexels-photo-52558_uyos7k.jpg");
  background-size: cover;
}

#grey-left-section {
  background: rgba(60, 55, 62, 0.8);
  width: 45%;
  height: 100%;
  overflow: hidden;
  font-size: 100px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 90vh;
  text-align: center;
  font-size: 570px;
  letter-spacing: 80px;
}

#name {
  position: absolute;
  text-align: left;
  font-weight: 400;
  font-size: 60px;
  top: 35%;
  left: 10%;
  height: 60px;
  color: white;
  line-height: 1;
  letter-spacing: 15px;
  opacity: 1;
}

#name-details {
  text-align: left;
  position: absolute;
  /*word-wrap: break-word;*/
  font-size: 20px;
  width: 30%;
  line-height: 1;
  top: 50.5%;
  left: 10%;
  letter-spacing: 1.5px;
}

#line-break {
  position: absolute;
  left: 10%;
  top: 49%;
  height: 2px;
  width: 8%;
  background-color: #dad426;
}


#photo-right-section {
  width: 55%;
  height: 100%;
  overflow: hidden;
  direction: ltr;
}

#photo-right-section img {
  display: block;
  margin: 0 auto;
  object-fit: fill;
}
