body {
  min-width: 1000px;
  min-height: 950px;
}
.section {
  /*min-height: 1000px;*/
  height: 90vh;
}
.flex-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
}
#grey-left-section {
  background-color: #343334;
  width: 45%;
  height: 100%;
  overflow: hidden;
  font-size: 100px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 90vh;
  text-align: center;
  font-size: 570px;
  letter-spacing: 80px;
  color: #3e3e3e;
}

#icon {
  position: absolute;
  top: 20px;;
  left: 20px;
  height: 50px;
  width: 50px;
  background-color: #dad426;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

#name {
  position: absolute;
  text-align: left;
  font-weight: 400;
  font-size: 60px;
  top: 35%;
  left: 10%;
  height: 60px;
  color: white;
  line-height: 1;
  letter-spacing: 15px;
}
#name-details {
  text-align: left;
  position: absolute;
  /*word-wrap: break-word;*/
  font-size: 20px;
  width: 30%;
  line-height: 1;
  top: 50.5%;
  left: 10%;
  letter-spacing: 1.5px;
}

#line-break {
  position: absolute;
  left: 10%;
  top: 49%;
  height: 2px;
  width: 8%;
  background-color: #dad426;
}
.normal-text {
  color: white;
  font-weight: 100;
}

.emphasized-caption {
  font-weight: bolder;
  color: #dad426;
}

.emphasized-text {
  font-weight: 400;
  color: black;
  /*background-color: #343334;*/
  padding-left: 2px;
  padding-right: 2px;
}
.section-outline {
    position: absolute;
    height: 86vh;
    width: 100%;
    top: 2vh;
    /*left: 0.5vw;
    right: 0.5vw;*/
    /*bottom: 1vh;*/
    outline: solid white 5px;
}

.landing-page-no {
  bottom: 12vh;
}
.ab-page-no {
  top: 176vh;
}

#photo-right-section {
  width: 55%;
  height: 100%;
  overflow: hidden;
  direction: ltr;
}

#photo-right-section img {
  display: block;
  margin: 0 auto;
  object-fit: fill;
}

.page-no {
  line-height: 20px;
  font-size: 15px;
  position: absolute;
  left: 20px;
  text-align: left;
  height: 20px;
}

#page-no-gr {
  font-size: 12px;
  letter-spacing: 5px;
}

.page-no-wh {
  font-size: 12px;
  letter-spacing: 5px;
  color: white;
}
.page-no-bl {
  font-size: 12px;
  letter-spacing: 5px;
  color: black;
}
.section-title {
  display: inline-block;
  font-size: 63px;
  color: black;
  font-weight: 500;
  letter-spacing: 9px;
  background-color: white;
  position: relative;
  transform: translateY(25%);
}

.line-break {
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  width: 15%;
  height: 2px;
  background-color: black;
}

.page-no-container {
  height: 100%;
  position: relative;
  bottom: 0;
}
/**/
.about-me-container {
  width: 50%;
}

#about-me-sec {
  width: 45%;
  /*height: 90%;*/
  margin: 0 auto;
  padding-right: 50px;
  /*margin-top: 10%;
  margin-bottom: 10%;*/
  color: black;
}

#about-me {
  width: 45%;
  margin-right: 50px;
  /*margin: 0 auto;*/
  /*border: solid lightgrey 10px;*/
  /*margin: 0 auto;*/
  /*margin-right: 3%;*/
  height: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  height: 100%;*/
}

.icon {
  position: absolute;
  margin-top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  background-color: #dad426;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
}

.ab-icon {
  top: 90vh;
}

#about-me-text {
/*width: 60%;*/
/*height: 100%;*/
/*margin: 0 auto;*/
/*padding: 20px;*/
position: relative;
top: 25%;
transform: translateY(-25%);
}

#about-me-photo {
  width: 30%;
  height: 70%;
  /*overflow: hidden;*/
  direction: ltr;
  position: relative;
  top: 54%;
  transform: translateY(-54%);
  /*height: 900px;*/
  /*margin: 0 auto;*/
  /*margin-top: 10%;*/
  /*margin-bottom: 10%;*/
}

#about-me-photo img {
  display: block;
  margin: 0 auto;
  height: 100%;
  object-fit: fill;
  /*position: relative;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

#grey-rect {
  background-color: grey;
  position: absolute;
  height: 100%;
  width: 410px;
  top: 48%;
  /*left: 0px;*/
  left: 5%;
  opacity: 0.2;
  transform: translateY(-50%);
}
#grey {
  background-color: black;
  height: 30px;
}
