
html, body, section, div, h1, h2, h3, nav, ul, li, p, a{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #383838;
}

body {
  max-width: 930px;
  margin: 0 auto;
}
h2 {
  font-weight: 400;
}

header {
  height: 100vh;
  top: 0;
}


nav {
  position: fixed;
  right: 20px;
  background-color: blue;
  height: 300px;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
}

nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.nav-button {
  height: 20px;
  width: 20px;
  background-color: #3e3e3e;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px
}

nav ul{
  margin: 0 auto;

}
