#projects-title {
  letter-spacing: normal;
  color: white;
  line-height: 1;
  height: 64px;
  text-align: right;
  font-size: 64px;
  font-weight: 500;
  position: relative;
  top: 150px;
  right: 50px;
}

#sketch-photo {
  height: 100%;
}

#projects-sec {
  background-image: url("http://res.cloudinary.com/dfrrpfeus/image/upload/v1488403778/sketch_xuvwhq.jpg");
  background-size: cover;
}

.grey-section {
  width: 45%;
  height: 100%;
  background: rgba(60, 55, 62, 0.8);
  opacity: 0.9;
}

#projects-list {
  width: 55%;
}

#projects-list ul {
  width: 100%;
  height: 100%;
}

.project {
  height: 33.33%;
  width: 100%;
}

.project-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
