#header-bar {
  height: 10px;
  background-color: #3e3e3e;
}

#name {
  font-family: 'Sofia', cursive;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
#header-photo {
  width: 100vw;
}

#about-me {
  height: 100vh;
}

#resume {
  height: 100vh;
}

#projects {
  height: 100vh;
}

#contact-me {
  height: 100vh;
}
